.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 57.625vw;
    justify-content: center;
    text-align: center;
}
.header {
    font-size: 40px;
    font-weight: bold;
}
.header-container {
    flex-basis: 100%;
    margin: 7.259vh 0;
}
.buttons{    
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 3.542vh;
}